## Directorios
base/
extend/
export/
audio/
otros/
wip/
pdf/
final/
## Core latex/pdflatex auxiliary files:
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.cb2
.*.lb
## extensiones filtradas
*.midi
*.pdf
*.xcf
*.odt